[submodule "_dorkshops/data_visualization"]
	path = _dorkshops/data_visualization
	url = https://github.com/gianordoli/bootcamp_2014_data_visualization_workshop.git
[submodule "_dorkshops/math_for_code"]
	path = _dorkshops/math_for_code
	url = https://github.com/nicoleyimessier/mathForCode
